<% provide(:title,'Help Page!') %>
<h1>Help</h1> 
<p>
  Problems with booking a holiday? Contact here for technical queries! 
  <a href="http://www.google.com">Tech Center</a>.
  To get help with bookings, past reservations and other queries, see the
  <a href="http://www.google.com">Holidayideas FAQ</a>.
</p>
