<% provide(:title,'Home') %>
<div class="center hero-unit">
  <h1>Welcome to Holidayideas!</h1>

  <h2>
    This is your one stop solution for Holiday Planning!<br>
    <a href="http://railstutorial.org/">Plan your holiday!</a>
     
  </h2><p>
  <h3>New to holidayideas? Why not consider signing up?</h3>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
 <h4>Becoming a member gives you a great deal of advantages! Sign up to see more! And yes, its Free! </h4>
 <p>
 <h4>Returning users <a href="/signin">Click here</a></h4>