<footer class="footer">
  <small>
    Holidayideas developed by SRK group
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '/about' %></li>
      <li><%= link_to "Contact", '/contact' %></li>
      <li><a href="http://www.usnews.com/topics/subjects/holidays">News</a></li>
    </ul>
  </nav>
</footer>
